<div>
<h4>{{content}}</h4>
<p>{{user.name}}</p>
<p>{{format_date date_created}}</p>
{{!-- {{#compare_id user.id current_id}}
{{/compare_id}} --}}
{{!-- 
<h2>{{user.id}}</h2>
<h2>{{current_id}}</h2> --}}
</div>